<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="100%" class="left">
        <p-card header="{{subGpar}}" [style]="{'width': '1050', 'height':'1000px'}" styleClass="panel-background">
            <!-- #Show subgraph information  -->
            <p> <b>Severity score [0-10] : </b> {{subGscore}} </p>
            <p> <b>Num of components : </b> {{subGcompNum}} </p>
            <p> <b>Max in degree centrality : </b> {{subGmaxIn}} </p>
            <p> <b>Max out degree centrality : </b> {{subGmaxOut}} </p>
            <p> <b>Num of events : </b> {{subGeventNum}} </p>
            <p> <b>Consequences : </b> </p>
            <div class="vertical-menu" style='width: 200px;'>
                <a *ngFor="let consequences of subGcon"> - {{consequences}} </a>
            </div>
            <!-- #Show selected element information -->
            <div *ngIf="showNode">
                <h4>Node</h4>
                <div class="vertical-menu" style='width: 200px;'>
                    <a>Node ID : {{selectNode?.id}}</a>
                    <a>Risk score : --</a>
                    <a>Country code: [ {{selectNode?.geo[0]}} ]</a>
                    <a>Subgraphs : {{selectNode?.subgraphs}} </a>
                </div>
            </div>
            <div *ngIf="showEdge">
                <h4>Edge</h4>
                <div class="vertical-menu" style='width: 200px;'>
                    <a>Source : {{selectEdge?.source}}</a>
                    <a>Target : {{selectEdge?.target}}</a>
                    <a>Gini_t_port : {{selectEdge?.gini_t_port}}</a>
                    <a>Gini_s_port : {{selectEdge?.gini_s_port}}</a>
                    <a>NumOfEvents : {{selectEdge?.NumOfEvents}}</a>
                    <a>Logtype : {{selectEdge?.logtype}}</a>
                    <a>Signature : </a>
                    <a *ngFor="let sig of selectEdge?.signature"> - {{sig}}</a>
                    <a>Unique_t_port_count : {{selectEdge?.unique_t_port_count}}</a>
                    <a>T_port_values : {{selectEdge?.t_port_values}}</a>
                    <a>S_port_values : {{selectEdge?.s_port_values}}</a>
                    <a>Start_timestamp : {{selectEdge?.start_timestamp}}</a>
                    <a>Signature_id:</a>
                    <a *ngFor="let sigID of selectEdge?.signature_id"> - {{sigID}}</a>
                    <a>span : {{selectEdge?.spanStr}}</a>
                    <a>Unique_s_port_count : {{selectEdge?.unique_s_port_count}}</a>
                    <a>Dispersion : {{selectEdge?.dispersion}}</a>
                    <a>Final_score : {{selectEdge?.final_score}}</a>
                    <a>Key : {{selectEdge?.key}}</a>
                </div>
            </div>
            <!-- #Show the cytoscape graph -->
            <div #cygraph [className]="'cy'" (click)="evtListener()"></div>
        </p-card>
    </div>
    <!-- # Slider bar to show the information (https://www.primefaces.org/primeng/showcase/#/sidebar) -->
    <!-- <p-sidebar [(visible)]="visibleSidebar2" position="left" [baseZIndex]="10000"> -->
    <!-- <h2 style="font-weight:normal">Selected Element </h2> -->
    <!-- <p-button type="button" (click)="visibleSidebar2 = false" label="Back" styleClass="p-button-success"></p-button> -->
    <!-- <p-button type="button" (click)="visibleSidebar2 = false" label="Cancel" styleClass="p-button-secondary"></p-button> -->
    <!-- </p-sidebar> -->
</div>